:root {
  --page-text: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #2196f3;
  --third-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--primary-background-color);
  color: var(--page-text);
}

/* ----------------Шапка--------------- */

/* Логотип */

/* .header {} */
/* .nav {} */

.logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--secondary-text-color);
}

.logo-studio {
  color: #000000;
}

/* ------Главная навигация------- */

/* .navigation-list {} */

.list {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.navigation-link {
  color: var(--page-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--secondary-text-color);
}

/* ---------------Связь-------------- */

/* .connection {} */

.navigation-connect {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-connect:hover,
.navigation-connect:focus {
  color: var(--secondary-text-color);
}
.hr {
  color: #ececec;
  width: 1600px;
}

/* --------------Портфолио------------ */

/* .portfolio {} */

.hidden {
  display: none; /* скрытый текст Портфолио */
}

.filtre {
  list-style: none;
}

.filtre-list {
  color: var(--page-text);
  text-decoration: none;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filtre-list:hover,
.filtre-list:focus {
  color: var(--third-text-color);
  background-color: #2196f3;
}

/* Портфолио-Все */

/* .content {} */
/* .content-list {} */

.caption {
  color: var(--page-text);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.subtitle {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ------------------Подвал ----------------*/

.footer {
  background-color: #2f303a;
}

/* Логотип */

.logo-studio-footer {
  color: #ffffff;
}

/* Блок адресс */

/* .address {} */

.footer-navigation {
  color: var(--third-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-navigation:hover,
.footer-navigation:focus {
  color: var(--secondary-text-color);
}

.footer-navigation-connect {
  color: rgb(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-navigation-connect:hover,
.footer-navigation-connect:focus {
  color: var(--secondary-text-color);
}

/* --------------Блок герой--------------- */

/* .hero {} */

.hero-text {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--third-text-color);
  background-color: var(--secondary-text-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #188ce8;
}

/* Особенности */

/* .item {} */

/* .item-list {} */

.headline {
  color: var(--page-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

/* .doing {} */

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* .heading-list {} */

/* Наша команда */

.command {
  background-color: var(--secondary-background-color);
}
.command-heading {
  color: var(--page-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* .command-list {} */

.command-name {
  color: var(--page-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.commands-position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
