:root {
  --page-text: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #2196f3;
  --third-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}
/* основной цвет фона #ffffff */

/* вспомогательный цвет фона #F5F4FA */

/* цвет герой и футер #2F303A */

/* page-text основной цвет текста #212121 */

/* primary-text-color второй основной цвет текста #757575 */

/* secondary-text-color вспомогательный цвет текста #2196F3 */

/* third-text-color #FFFFFF */

/* цвт почты футер #FFFFFF 60% */
/* пр Ховере кноака #188CE8 */

body {
  font-family: Roboto, sans-serif;
  background: var(--primary-background-color);
  color: var(--page-text);
  width: 1600px;
}

/* ----------------Шапка--------------- */

/* Логотип */

.header {
  width: 1600px;
  height: 80px;
}
.nav {
  display: flex;
}

.logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  width: 145px;
  height: 31px;
}

.logo-web {
  color: var(--secondary-text-color);
}

.logo-studio {
  color: #000000;
}

/* ------Главная навигация------- */

.navigation-list {
  width: 294px;
  height: 16px;
  display: flex;
}

.list {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.navigation-link {
  color: var(--page-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--secondary-text-color);
}

/* --------Связь------- */

.connection {
  display: flex;
}

.navigation-connect {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-connect:hover,
.navigation-connect:focus {
  color: var(--secondary-text-color);
}
.hr {
  color: #ececec;
  width: 1600px;
}
/* --------------Портфолио------------ */

/* скрыть текст */

.portfolio {
  width: 1170px;
  height: 1360px;
  padding-top: 94px;
}
.filtre {
  list-style: none;
  display: inline;
  width: 611px;
  height: 38px;
}

.filtre-list {
  color: var(--page-text);
  text-decoration: none;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
.filtre-list:hover,
.filtre-list:focus {
  color: var(--third-text-color);
  border: 1px solid transparent;
  background-color: #2196f3;
  border-radius: 4px;
}

/* Портфолио-Все */

.content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  padding: 0;
}
.content-list {
  flex: 25%;
  max-width: 25%;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc((100% - 30px) / 3);
}
.caption {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.subtitle {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

/* ------------------Подвал ----------------*/

.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}

/* Логотип */

.logo-studio-footer {
  color: #ffffff;
}

/* Блок адресс */

.address {
  width: 231px;
  height: 81px;
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-navigation:hover,
.footer-navigation:focus {
  color: var(--secondary-text-color);
}

.footer-navigation-connect {
  color: rgb(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-navigation-connect:hover,
.footer-navigation-connect:focus {
  color: var(--secondary-text-color);
}

/* --------------Блок герой--------------- */

.hero {
  margin-top: 80px;
}
.hero-text {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 0px;
}

.button {
  color: var(--third-text-color);
  background-color: var(--secondary-text-color);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #188ce8;
}

/* Особенности */

.item {
  width: 1170px;
  height: 101px;
 }

.item-list {
  width: 270px;
  height: 101px;
}

.headline {
  color: var(--page-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
}

/* Чем мы занимаемся */

.doing {
  /* width: 1170px;
  height: 386px; */
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.heading-list {
  /* ????? */
}

/* Наша команда */

.command {
}
.command-heading {
  color: var(--page-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-list {
}
.command-name {
  color: var(--page-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.commands-position {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
